EXPO_PUBLIC_FUNDWISE_WEB_URL=https://fundwise.fun
EXPO_PUBLIC_FUNDWISE_API_URL=https://fundwise.fun
EXPO_PUBLIC_RECEIPTS_URL=https://fundwise.fun
EXPO_PUBLIC_FUNDWISE_ALLOWED_HOSTS=fundwise.fun,beta.fundwise.fun
EXPO_PUBLIC_FUNDY_TELEGRAM_URL=https://t.me/fundyonSol_bot
EXPO_PUBLIC_SOLANA_CLUSTER=mainnet
EXPO_PUBLIC_SOLANA_RPC_ENDPOINT=https://mainnet.helius-rpc.com/?api-key=YOUR_HELIUS_PUBLIC_RPC_KEY
